.header1{
    background-color: yellow;
    }
    .text1{
       padding-left: 410px;
       padding-top: 15px;
       font-weight: bolder;
    }
    .logo{
       padding-top: 20px;
    }
    #hyp a{
         color: black; 
        transform: none;
        padding: 15px;
        font-weight: bolder;
        margin: 30px;
        
     }
     #hyp{
        padding-top: 40px;
        padding-left: 100px;
       }
       .log{
          height: 40px;
          width: 150px;
          background-color: yellow;
          border: 1px solid yellow;
          margin-left: 65px;
       }